In [1]:
import pandas as pd

In [2]:
d1 = pd.read_excel(r"D:\MINI_PROJECT_CLG\my final dataset\mendeley - columbia\Raw data.xlsx")
d1.head()

,DEMOGRAPHIC DATA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,SUBJECTIVE WELLBEING,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,1. Year of birth:,2. Gender,3. What is the socio-economic status of your h...,"4. According to your culture, people, or physi...",5.1 How many years of education did your paren...,5.2 How many years of education did your paren...,"6. In general, how satisfied are you with all ...",7. How happy did you feel yesterday?,8. How much did you laugh yesterday?,9. Did you learn new or exciting things yeste...,...,"17.7 Next, you will be asked questions about y...","18.1 Next, you will be asked questions about y...","18.2 Next, you will be asked questions about y...","18.3 Next, you will be asked questions about y...","18.4 Next, you will be asked questions about y...","18.5 Next, you will be asked questions about y...","18.6 Next, you will be asked questions about y...","18.7 Next, you will be asked questions about y...","18.8 Next, you will be asked questions about y...","18.9 Next, you will be asked questions about y..."
1,2001,1,4,6,25,25,7,5,5,5,...,3,0,0,0,1,3,0,0,0,0
2,1999,1,2,1,NaN,NaN,8,4,8,3,...,1,2,2,0,3,2,1,1,0,0
3,2002,1,5,6,16,16,10,9,10,7,...,1,0,1,0,2,2,1,1,1,0
4,2001,2,5,6,20,16,10,8,10,10,...,0,3,1,0,3,1,0,0,0,0

In [3]:
depresssion1 = d1.iloc[:,-9:]

In [4]:
col = depresssion1.iloc[:1,:].values.tolist()
col

[["18.1 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Little interest or pleasure in doing things",
  "18.2 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Feeling down, depressed, or hopeless",
  "18.3 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Trouble falling or staying asleep, or sleeping too much",
  "18.4 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Feeling tired or having little energy",
  "18.5 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Poor appetite or overeating",
  "18.6 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Feeling bad about yourself or that you are a failure or have let yourself or your family down",
  "18.7 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Trouble concentrating on things, such as reading the newspaper or watching television",
  "18.8 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Moving or speaking so slowly that other people could have noticed. Or the opposite being so figety or restless that you have been moving around a lot more than usual",
  "18.9 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Thoughts that you would be better off dead, or of hurting yourself"]]

In [5]:
new_col = ['no interest','sad','sleep','tired','appetite','feeling like a failure','concentration','behavioural change','suicidal thoughts']
depresssion1.columns = new_col
depresssion1.head()

,no interest,sad,sleep,tired,appetite,feeling like a failure,concentration,behavioural change,suicidal thoughts
0,"18.1 Next, you will be asked questions about y...","18.2 Next, you will be asked questions about y...","18.3 Next, you will be asked questions about y...","18.4 Next, you will be asked questions about y...","18.5 Next, you will be asked questions about y...","18.6 Next, you will be asked questions about y...","18.7 Next, you will be asked questions about y...","18.8 Next, you will be asked questions about y...","18.9 Next, you will be asked questions about y..."
1,0,0,0,1,3,0,0,0,0
2,2,2,0,3,2,1,1,0,0
3,0,1,0,2,2,1,1,1,0
4,3,1,0,3,1,0,0,0,0

In [6]:
depresssion1 = depresssion1.drop(0,axis = 0)
depresssion1.reset_index(drop = True, inplace = True)
depresssion1.head()

,no interest,sad,sleep,tired,appetite,feeling like a failure,concentration,behavioural change,suicidal thoughts
0,0,0,0,1,3,0,0,0,0
1,2,2,0,3,2,1,1,0,0
2,0,1,0,2,2,1,1,1,0
3,3,1,0,3,1,0,0,0,0
4,2,1,3,1,1,0,1,0,3

In [7]:
D = depresssion1.loc[:,['no interest','sleep','appetite']]
D.head()

  no interest sleep appetite
0           0     0        3
1           2     0        2
2           0     0        2
3           3     0        1
4           2     3        1

In [8]:
anxiety1 = d1.iloc[:,-16:-9]

In [9]:
col = anxiety1.iloc[:1,:].values.tolist()
col

[["17.1 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Feeling nervous, anxious, or on edge",
  "17.2 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Not being able to stop or control worrying",
  "17.3 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Worrying too much about different things",
  "17.4 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?:  Trouble relaxing",
  "17.5 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Being so restless that it is hard to sit still",
  "17.6 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Becoming easily annoyed or irritable",
  "17.7 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 3, where 0 is 'Not at all', 1 is 'several days', 2 is 'more than half of the days', and 3 is 'Nearly every day'. Over the last two weeks, how often have you been bothered by the following problems?: Feeling afraid, as if something awful might happen"]]

In [10]:
new_col = ['on edge','worrying','overthinking','not relaxing','restless','annoyed','afraid']
anxiety1.columns = new_col
anxiety1 = anxiety1.drop(0,axis = 0)
anxiety1.reset_index(drop = True, inplace = True)
anxiety1.head()

  on edge worrying overthinking not relaxing restless annoyed afraid
0       1        0            0            0        3       0      3
1       0        3            1            1        0       1      1
2       1        2            1            2        1       0      1
3       0        0            1            0        0       1      0
4       1        0            0            0        0       0      1

In [11]:
A = anxiety1.loc[:,['on edge','overthinking']]
A.head()

  on edge overthinking
0       1            0
1       0            1
2       1            1
3       0            1
4       1            0

In [12]:
stress1 = d1.iloc[:,-26:-16]
stress1.head()

,HEALTH,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,"16.1 Next, you will be asked questions about y...","16.2 Next, you will be asked questions about y...","16.3 Next, you will be asked questions about y...","16.4 Next, you will be asked questions about y...","16.5 Next, you will be asked questions about y...","16.6 Next, you will be asked questions about y...","16.7 Next, you will be asked questions about y...","16.8 Next, you will be asked questions about y...","16.9 Next, you will be asked questions about y...","16.10 Next, you will be asked questions about ..."
1,1,2,2,3,3,0,3,3,3,1
2,1,2,3,2,2,2,3,2,3,2
3,2,1,2,3,2,2,3,1,1,2
4,3,3,2,4,4,2,3,3,2,1

In [13]:
col = stress1.iloc[:1,:].values.tolist()
col

[["16.1 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: In the last month, how often have you been upset because of something that happened unexpectedly?",
  "16.2 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: In the last month, how often have you felt that you were unable to control the important things in your life?",
  "16.3 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you felt nervous and stressed?",
  "16.4 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you felt confident about your ability to handle your personal problems?",
  "16.5 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you felt that things were going your way?",
  "16.6 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you found that you could not cope with all the things that you had to do?",
  "16.7 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you been able to control irritations in your life?",
  "16.8 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you felt that you were on top of things?",
  "16.9 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you been angered because of things that happened that were outside of your control?",
  "16.10 Next, you will be asked questions about your emotional state. Please answer on a scale of 0 to 4, where 0 is never, 1 is 'almost never', 2 is 'sometimes', 3 is 'fairly often,' and 4 is 'very often', how often you experienced the following feelings during the last month: how often have you felt difficulties were piling up so high that you could not overcome them?"]]

In [14]:
new_col = ['s1','s2','s3','s4','s5','cannot cope','s7','s8','s9','too much work']
stress1.columns = new_col
stress1 = stress1.drop(0,axis = 0)
stress1.reset_index(drop = True, inplace = True)
stress1.head()

  s1 s2 s3 s4 s5 cannot cope s7 s8 s9 too much work
0  1  2  2  3  3           0  3  3  3             1
1  1  2  3  2  2           2  3  2  3             2
2  2  1  2  3  2           2  3  1  1             2
3  3  3  2  4  4           2  3  3  2             1
4  3  1  2  3  2           3  3  2  2             1

In [15]:
S = stress1.loc[:,['cannot cope','too much work']]
S.head()

  cannot cope too much work
0           0             1
1           2             2
2           2             2
3           2             1
4           3             1

In [16]:
final_df = pd.DataFrame()

In [17]:
final_df['stress'] = stress1.sum(axis=1)

In [18]:
final_df['anxiety'] = anxiety1.sum(axis =1)
final_df['depression'] = depresssion1.sum(axis = 1)
final_df.head()

  stress anxiety depression
0     21       7          4
1     22       7         11
2     19       8          8
3     27       2          8
4     22       2         12

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stress      2992 non-null   object
 1   anxiety     2992 non-null   object
 2   depression  2992 non-null   object
dtypes: object(3)
memory usage: 70.2+ KB

In [20]:
l = []
for idx, value in final_df["depression"].items():
    if value < 11:
        l.append(0)
    else:
        l.append(1)
final_df["targets"] = l
final_df.head()

  stress anxiety depression  targets
0     21       7          4        0
1     22       7         11        1
2     19       8          8        0
3     27       2          8        0
4     22       2         12        1

In [21]:
df_f = pd.concat([D,A,S,final_df],axis =1)
df_f.head()

,no interest,sleep,appetite,on edge,overthinking,cannot cope,too much work,stress,anxiety,depression,targets
0,0,0,3,1,0,0,1,21,7,4,0
1,2,0,2,0,1,2,2,22,7,11,1
2,0,0,2,1,1,2,2,19,8,8,0
3,3,0,1,0,1,2,1,27,2,8,0
4,2,3,1,1,0,3,1,22,2,12,1

In [22]:
final_df["targets"].value_counts()

targets
0    1921
1    1071
Name: count, dtype: int64

In [23]:
data1 = pd.read_csv(r"D:\MINI_PROJECT_CLG\my final dataset\figshare-bangladesh\Anxiety.csv")
data1.head()

,1. Age,2. Gender,3. University,4. Department,5. Academic Year,6. Current CGPA,7. Did you receive a waiver or scholarship at your university?,"1. In a semester, how often you felt nervous, anxious or on edge due to academic pressure?","2. In a semester, how often have you been unable to stop worrying about your academic affairs?","3. In a semester, how often have you had trouble relaxing due to academic pressure?","4. In a semester, how often have you been easily annoyed or irritated because of academic pressure?","5. In a semester, how often have you worried too much about academic affairs?","6. In a semester, how often have you been so restless due to academic pressure that it is hard to sit still?","7. In a semester, how often have you felt afraid, as if something awful might happen?",Anxiety Value,Anxiety Label
0,18-22,Female,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,2,2,3,2,2,2,2,15,Severe Anxiety
1,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,1,2,2,1,1,3,2,12,Moderate Anxiety
2,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,0,0,0,0,0,0,0,0,Minimal Anxiety
3,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,2,1,1,1,2,1,2,10,Moderate Anxiety
4,18-22,Male,North South University (NSU),Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,3,0,3,3,1,1,3,14,Moderate Anxiety

In [32]:
data1.columns.values

array(['1. Age', '2. Gender', '3. University', '4. Department',
       '5. Academic Year', '6. Current CGPA',
       '7. Did you receive a waiver or scholarship at your university?',
       '1. In a semester, how often you felt nervous, anxious or on edge due to academic pressure? ',
       '2. In a semester, how often have you been unable to stop worrying about your academic affairs? ',
       '3. In a semester, how often have you had trouble relaxing due to academic pressure? ',
       '4. In a semester, how often have you been easily annoyed or irritated because of academic pressure?',
       '5. In a semester, how often have you worried too much about academic affairs? ',
       '6. In a semester, how often have you been so restless due to academic pressure that it is hard to sit still?',
       '7. In a semester, how often have you felt afraid, as if something awful might happen?',
       'Anxiety Value', 'Anxiety Label'], dtype=object)

In [37]:
data2 = pd.read_csv(r"D:\MINI_PROJECT_CLG\my final dataset\figshare-bangladesh\Stress.csv")
data2.head()

,1. Age,2. Gender,3. University,4. Department,5. Academic Year,6. Current CGPA,7. Did you receive a waiver or scholarship at your university?,"1. In a semester, how often have you felt upset due to something that happened in your academic affairs?","2. In a semester, how often you felt as if you were unable to control important things in your academic affairs?","3. In a semester, how often you felt nervous and stressed because of academic pressure?","4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams)","5. In a semester, how often you felt confident about your ability to handle your academic / university problems?","6. In a semester, how often you felt as if things in your academic life is going on your way?","7. In a semester, how often are you able to control irritations in your academic / university affairs?","8. In a semester, how often you felt as if your academic performance was on top?","9. In a semester, how often you got angered due to bad performance or low grades that is beyond your control?","10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them?",Stress Value,Stress Label
0,18-22,Female,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,3,4,3,2,2,1,2,2,4,4,29,High Perceived Stress
1,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,3,3,4,2,3,2,2,2,2,3,24,Moderate Stress
2,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,0,0,0,0,0,1,0,0,0,0,15,Moderate Stress
3,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,3,1,2,1,4,3,2,2,3,2,17,Moderate Stress
4,18-22,Male,North South University (NSU),Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,4,4,4,2,2,2,0,2,4,4,32,High Perceived Stress

In [41]:
data2.columns.values

array(['1. Age', '2. Gender', '3. University', '4. Department',
       '5. Academic Year', '6. Current CGPA',
       '7. Did you receive a waiver or scholarship at your university?',
       '1. In a semester, how often have you felt upset due to something that happened in your academic affairs? ',
       '2. In a semester, how often you felt as if you were unable to control important things in your academic affairs?',
       '3. In a semester, how often you felt nervous and stressed because of academic pressure? ',
       '4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams) ',
       '5. In a semester, how often you felt confident about your ability to handle your academic / university problems?',
       '6. In a semester, how often you felt as if things in your academic life is going on your way? ',
       '7. In a semester, how often are you able to control irritations in your academic / university affairs? ',
       '8. In a semester, how often you felt as if your academic performance was on top?',
       '9. In a semester, how often you got angered due to bad performance or low grades that is beyond your control? ',
       '10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them? ',
       'Stress Value', 'Stress Label'], dtype=object)

In [25]:
df2 = pd.DataFrame()
df2["stress"] = data2["Stress Value"]

In [26]:
df2["anxiety"] = data1["Anxiety Value"]

In [27]:
data3 = pd.read_csv(r"D:\MINI_PROJECT_CLG\my final dataset\figshare-bangladesh\Depression.csv")
df2["depression"] = data3["Depression Value"]
data3.head()

,1. Age,2. Gender,3. University,4. Department,5. Academic Year,6. Current CGPA,7. Did you receive a waiver or scholarship at your university?,"1. In a semester, how often have you had little interest or pleasure in doing things?","2. In a semester, how often have you been feeling down, depressed or hopeless?","3. In a semester, how often have you had trouble falling or staying asleep, or sleeping too much?","4. In a semester, how often have you been feeling tired or having little energy?","5. In a semester, how often have you had poor appetite or overeating?","6. In a semester, how often have you been feeling bad about yourself - or that you are a failure or have let yourself or your family down?","7. In a semester, how often have you been having trouble concentrating on things, such as reading the books or watching television?","8. In a semester, how often have you moved or spoke too slowly for other people to notice? Or you've been moving a lot more than usual because you've been restless?","9. In a semester, how often have you had thoughts that you would be better off dead, or of hurting yourself?",Depression Value,Depression Label
0,18-22,Female,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,2,2,3,2,2,2,2,3,2,20,Severe Depression
1,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,3,2,2,2,2,2,2,2,2,19,Moderately Severe Depression
2,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,0,0,0,0,0,0,0,0,0,0,No Depression
3,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,2,1,2,1,2,1,2,2,1,14,Moderate Depression
4,18-22,Male,North South University (NSU),Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,1,3,3,3,1,3,0,3,3,20,Severe Depression

In [48]:
data3.columns.values

array(['1. Age', '2. Gender', '3. University', '4. Department',
       '5. Academic Year', '6. Current CGPA',
       '7. Did you receive a waiver or scholarship at your university?',
       '1. In a semester, how often have you had little interest or pleasure in doing things?',
       '2. In a semester, how often have you been feeling down, depressed or hopeless?',
       '3. In a semester, how often have you had trouble falling or staying asleep, or sleeping too much? ',
       '4. In a semester, how often have you been feeling tired or having little energy? ',
       '5. In a semester, how often have you had poor appetite or overeating? ',
       '6. In a semester, how often have you been feeling bad about yourself - or that you are a failure or have let yourself or your family down? ',
       '7. In a semester, how often have you been having trouble concentrating on things, such as reading the books or watching television? ',
       "8. In a semester, how often have you moved or spoke too slowly for other people to notice? Or you've been moving a lot more than usual because you've been restless? ",
       '9. In a semester, how often have you had thoughts that you would be better off dead, or of hurting yourself? ',
       'Depression Value', 'Depression Label'], dtype=object)

In [49]:
l = []
for idx, value in df2["depression"].items():
    if value < 11:
        l.append(0)
    else:
        l.append(1)
df2["targets"] = l
df2["targets"].value_counts()

targets
1    1380
0     648
Name: count, dtype: int64

In [50]:
A1 = data1.loc[:,["1. In a semester, how often you felt nervous, anxious or on edge due to academic pressure? ","2. In a semester, how often have you been unable to stop worrying about your academic affairs? "]]
S1 = data2.loc[:,["4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams) ",'10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them? ']]
D1 = data3.loc[:,['1. In a semester, how often have you had little interest or pleasure in doing things?','3. In a semester, how often have you had trouble falling or staying asleep, or sleeping too much? ','5. In a semester, how often have you had poor appetite or overeating? ']]
df_f1 = pd.concat([D1,A1,S1,df2],axis = 1)
df_f1.head()

,"1. In a semester, how often have you had little interest or pleasure in doing things?","3. In a semester, how often have you had trouble falling or staying asleep, or sleeping too much?","5. In a semester, how often have you had poor appetite or overeating?","1. In a semester, how often you felt nervous, anxious or on edge due to academic pressure?","2. In a semester, how often have you been unable to stop worrying about your academic affairs?","4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams)","10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them?",stress,anxiety,depression,targets
0,2,3,2,2,2,2,4,29,15,20,1
1,3,2,2,1,2,2,3,24,12,19,1
2,0,0,0,0,0,0,0,15,0,0,0
3,2,2,2,2,1,1,2,17,10,14,1
4,1,3,1,3,0,2,4,32,14,20,1

In [52]:
df_f1.columns = ['no interest', 'sleep', 'appetite', 'on edge', 'overthinking',
       'cannot cope', 'too much work', 'stress', 'anxiety', 'depression',
       'targets']
df_f1.head()

,no interest,sleep,appetite,on edge,overthinking,cannot cope,too much work,stress,anxiety,depression,targets
0,2,3,2,2,2,2,4,29,15,20,1
1,3,2,2,1,2,2,3,24,12,19,1
2,0,0,0,0,0,0,0,15,0,0,0
3,2,2,2,2,1,1,2,17,10,14,1
4,1,3,1,3,0,2,4,32,14,20,1

In [53]:
dataset = pd.concat([df_f,df_f1],axis = 0)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5020 entries, 0 to 2027
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   no interest    5020 non-null   object
 1   sleep          5020 non-null   object
 2   appetite       5020 non-null   object
 3   on edge        5020 non-null   object
 4   overthinking   5020 non-null   object
 5   cannot cope    5020 non-null   object
 6   too much work  5020 non-null   object
 7   stress         5020 non-null   object
 8   anxiety        5020 non-null   object
 9   depression     5020 non-null   object
 10  targets        5020 non-null   int64
dtypes: int64(1), object(10)
memory usage: 470.6+ KB

In [54]:
dataset["targets"].value_counts()

targets
0    2569
1    2451
Name: count, dtype: int64

dataset.to_excel(r"D:\MINI_PROJECT_CLG\my final dataset\thisisit.xlsx")

In [ ]:
dataset.isnull().value_counts()